{% extends 'main/layout.html' %}

{% block title %}
    Подробнее
{% endblock %}

{% block content %}
    <div class="mains">
            <h1>Это мой первый Джанго проект</h1>
            <h4>Снизу всякая техническая и не только дрочь</h4>
            <p style="margin-top: 25px; text-align: left; font-size: 18px; max-width: 980px;">
                Если вы читаете это то либо я смог задеплоить сайт на сервак (хотя бы на бесплатный период), либо вы
                залезли в мой репозиторий на гитхабе (нахуя? там ничего нет) Ладно, к сути че тут вообще происходит.
                Начал изучать эту вашу дженгу, нигде кроме как в процессе создания сайта практиковаться
                нет возможности, так что выдавил это. Здесь можно писать и удалять заметки, а также есть форум для
                общения с бедолагами. У каждого пользователя есть профиль, ник и аватарка. Работая с серверной составляющей
                больше всего пришлось вспотеть при реализации форума, а конкретно чтобы вы могли кидать туда свои картинки.
                Если касаться проекта вообще, то самое мудацкое и чмошное с чем я столкнулся и что отнимало у меня по несколько
                часов времени это вёрстка и работа с блядским CSS. Под конец я просто сдался и чтобы делать какие-то дизайнерские
                решения писал прям в html аргументы style в нужных тегах, потому что этот мудацкий ссс файл просто ничего не слышит
                не видит и он говно так что если че с дизайна не смейтесь я вообще вроде как бэк (я никогда не найду работу). Джанго проект состоит из 4 приложений не считая главного.
                В процессе создания работал с моделями БД (SQlite), делал миграции (по началу был жесткий затуп), писал формы и функции представления
                так что всё четко заебись умеем могём (сайт посыпется если на него зайдёт более двух человек). Ещё тут очень удобные готовые классы форм для работы с
                пользовательскими данными.
                По безопасности тут наверное отмена, вся ответственность лежит на джанговском миддлвэйре а сам я ничего не
                делал так что прошу не взламывайте админку иначе всему пиздец. На этом всё.
            </p>
        <img src="https://sun9-66.userapi.com/impg/G7TjK928eeziR0BAc5lCCFZq7mlsKzA40R5pTQ/xY_LRpUUX0k.jpg?size=995x1280&quality=95&sign=621120708c0e4f1d66e352d50c18eef2&type=album"
             style="float: left; margin-top: -600px; max-width: 300px;">
        <img src="https://sun9-78.userapi.com/impg/j6IXx0NbM_TlrdfKKAVehsKDJgykWQVjATNf2w/j4gADms37Kg.jpg?size=278x180&quality=95&sign=ce51c78dfe999de4bfee1f3345e846bd&type=album"
             style="float: center; max-width: 2000px;">
    </div>
{% endblock %}